{%extends 'base.html'%}
{%import 'macros.html' as macro %}


{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="course-items">
                <div class="row justify-content-center">


                    <div class="col-lg-6">
                        <div class="item course-item">
                            <a href="{{url_for('main.course')}}"><img
                                    src="https://img-c.udemycdn.com/course/240x135/822444_a6db.jpg?Expires=1624519499&Signature=iya2oBNI8xG7nvFvhEBztjV~KeXbw41oN7Takbai5PFzblvD5mWnZjHwDwrC6BEiDBPL2ZUp6Avuo1aIAM9DIJBAXiECUe3UVp8Re5J8841oEa930ydXVcse5FZa5l6vEPTgHB7azKBbN1kXzlZyGpK7SGdSVTbiSzbKx6Zk2QfzeTUYSg~qjItbuoUMXIEPTPUJtl1W4YxNCZHn5Kjbi~8xH1g-xmqMJMJSZ1vhtUTfqgV5RVcHfkkCqujLEHwRbpE7eop4Z2Y5q85NClLTOfjVxB0mWPrgLRPHymV~kj3WbYvKy6SJv6pgwwoZcywduOhDpcZ1RMqf75r3PQlpZw__&Key-Pair-Id=APKAITJV77WS5ZT7262A"
                                    alt="X"></a>
                            <div class="down-content">
                                <img class="img" src="http://placehold.it/44x44" alt="">
                                <h6>Ernest Byrd</h6>
                                <div class="price-yellow">
                                    <span>Free</span>
                                    <div class="base"></div>
                                </div>
                                <a href="{{url_for('main.course')}}">
                                    <h4>How to become<br>a Powerful Speaker</h4>
                                </a>
                                <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes
                                    Anderson fap tattooed.</p>
                                <div class="text-button">
                                    <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item course-item">
                            <a href="{{url_for('main.course')}}"><img src="http://placehold.it/345x235" alt=""></a>
                            <div class="down-content">
                                <img src="http://placehold.it/44x44" alt="">
                                <h6>Ernest Byrd</h6>
                                <div class="price-red">
                                    <span>Free</span>
                                    <div class="base"></div>
                                </div>
                                <a href="{{url_for('main.course')}}">
                                    <h4>Electrical &amp; Electronic <br>Engingering</h4>
                                </a>
                                <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes
                                    Anderson fap tattooed.</p>
                                <div class="text-button">
                                    <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item course-item">
                            <a href="{{url_for('main.course')}}"><img src="http://placehold.it/345x235" alt=""></a>
                            <div class="down-content">
                                <img src="http://placehold.it/44x44" alt="">
                                <h6>Ernest Byrd</h6>
                                <div class="price-red">
                                    <span>Free</span>
                                    <div class="base"></div>
                                </div>
                                <a href="{{url_for('main.course')}}">
                                    <h4>Electrical &amp; Electronic <br>Engingering</h4>
                                </a>
                                <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes
                                    Anderson fap tattooed.</p>
                                <div class="text-button">
                                    <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item course-item">
                            <a href="{{url_for('main.course')}}"><img src="http://placehold.it/345x235" alt=""></a>
                            <div class="down-content">
                                <img src="http://placehold.it/44x44" alt="">
                                <h6>Ernest Byrd</h6>
                                <div class="price-red">
                                    <span>Free</span>
                                    <div class="base"></div>
                                </div>
                                <a href="{{url_for('main.course')}}">
                                    <h4>Electrical &amp; Electronic <br>Engingering</h4>
                                </a>
                                <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes
                                    Anderson fap tattooed.</p>
                                <div class="text-button">
                                    <a href="{{url_for('main.course')}}">view more<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}