{%extends 'base.html'%}
{%import 'macros.html' as macro %}
{%block content%}
<div class="container">
    <article class="media content-section">
        <div class="media-body">
    <section class="single-course">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="item course-item">
                                    <div class="up-content">
                                        <a href="single-course.html">
                                            <h4>How to become a Powerful Speaker ?</h4>
                                        </a>
                                        <p>Plaid you probably haven't heard of them fashion axe meditation</p>
                                        <img src="https://img-c.udemycdn.com/course/240x135/1562632_a245_2.jpg?Expires=1624524311&Signature=E5EMZzUOZ24wogT0KPAT2nB0QBa-8~KImYfmO-lWAZzSTy~6qhizdoUcbl0lcOlR9mA81SDY3hJ10CIYTnRS9b-ZS~0NKsSp-zJCUtjxw4pm41ezywBIoF-DvFTPfluaD4pYehMhMA8R0EwsNw9r3w82cbaPQUpS~HKCNGyZUDPhB1G~hCnMOSJfomPuqqh~G7y8jZBzIxM9uEO6gdZn-ifV1JsVyz1YVGX-Q928uTdVrYHksVPm25Dg12UKUp8mYFCS2qJK~yVPogKRyW6kotkOZCOkE~oz~9Hxn0SGbNyPH21VjymaAfdF8dF2viXjbpnOsuLonwKzK43k2jFGRw__&Key-Pair-Id=APKAITJV77WS5ZT7262A"
                                            alt="">
                                        <h6>Ernest Byrd</h6>
                                        <div class="price-red">
                                            <span>Free</span>
                                            <div id="base"></div>
                                        </div>
                                    </div>

                                    <div class="description">
                                        <h4>Description</h4>
                                        <p>Banjo fanny pack mixtape austin meh portland fashion axe cardigan freegan 3
                                            wolf
                                            moon. pop up viral letterpress next level ethical scenester trust funde
                                            chia.
                                            Chia tilde williamsburg etsy, craft beer banksy high life deep v fanny pack.
                                            Mlks Kickstarter Wes Anderson before they sold out. Health goth seitan
                                            hashtag,
                                            Thundercats McSweeney's quinoa Pitchfork Tumblr flannel. Gentrify flannel
                                            fanny
                                            pack retro.<br><br>McSweeney's Carles squid, Wes Anderson pork belly
                                            post-ironic
                                            pop-up cardigan tattooed Marfa listiclete small Godard locavore plaid,
                                            mlkshk
                                            mumblecore viral Pinterest fingerstache four loko ugh Neutra banh mi food
                                            truck
                                            fap authentic. Whatever ennui McSweeney's forage salvia trust fund.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
</article>
</div>




{%endblock%}